@import "tailwindcss";

@font-face {
    font-family: "Rubik";
    src: url(../assets/Rubik-VariableFont_wght.woff2) format(woff2);
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@theme{
    --font-sans: 'Rubik', system-ui, sans-serif;

    --text-reg: 18px;
    --text-xl: 22px;
    --text-xs: 9px;

    /* colors */
    --color-gray-950: hsl(0, 0%, 17%);
    --color-gray-400: hsl(0, 0%, 58%);

    /* responsive */
    --breakpoint-xs: 375px;
} 
